/* * {
    box-sizing: border-box;
} */
body {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    background: #e7e7e7;
}

#print-table {
    margin: 0 auto;
    width: 800px;
    background: #fff;
    padding: 20px;
}
.head {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
table {
    margin: 0 auto;
}

table th {
    font-weight: bold;
    text-align: left;
    width: 25%;
}

table td {
    width: 75%;
}

.user-img {
    width: 50px;
}
td {
    white-space: nowrap;
}

th {
    white-space: nowrap;
}
